<style>
  .jumbotron {
    height: 500px;
    background-image: url("https://d3v4jsc54141g1.cloudfront.net/uploads/project/avatar/141622/large_Capture_d_e_cran_2019-06-04_14.26.29-1559651857.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:fixed;
  }
</style>


<div style="background-color:pink;" class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4" style="text-align:center; padding-top:80px; color:white;">Hello les MOUSS'</h1>
    <p style="text-align:center; padding-top:40px; padding-bottom:40px; color:white;" class="lead">Vous êtes à la recherche de tous les gossips de THP ? Pas besoin de chercher bien loin !</p>
  </div>
</div>

<p style="text-align:center;">Tu souhaites créer ton propre Gossip ?  </p>
<p style="text-align:center;">Rien de plus facile ! <%= link_to "Crée le!", new_gossip_path %>  </p>

<br><br>

<!-- je récupère mes author et titre de chaque gossips. -->
<% @gossips.each do |index| %>
<center>
<div class="card" style="width: 18rem; text-align:center;">
  <img class="card-img-top" src="https://is3-ssl.mzstatic.com/image/thumb/Podcasts113/v4/dc/27/a1/dc27a1eb-2307-fe47-342e-6fb84618f5a8/mza_8792713575073991728.jpg/600x600bb.jpg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text"> <%= index.title %> </p>
    <p class="card-text"><%  a = index.user_id %> Gossipeur : <%= @users.find(a).first_name %></p>
    <a href="http://localhost:3000/gossips/<%=index.id%>" class="btn btn-primary"> SEE THIS GOSSIP! </a>
  </div>
</div>
<br>
</center>
<% end %>
