<h1>BIENVENUE SUR NOTRE SITE INTERNET</h1>
<div class="home_content">
  <p>
    Si tu veux voir notre page de bienvenue n'hésite pas à mettre dans l'URL:
    <a href="http://localhost:3000/welcomes/le_nom_que_tu_veux" > http://localhost:3000/welcomes/le_nom_que_tu_veux </a>
    <br/>
    <br/>
    Pour le reste je te laisse naviguer dans la nav-bar au dessus.
  </p>
</div>
