<div class="card text-center" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Ville : <%= @city.name %></h5>
  </div>
</div>

<br>

  <div class="">
<!-- where va me permettre de recherche tous les city.id de ma table user -->
  <% a = @users.where(city: @city.id) %>
  <p>Liste des potins de la ville</p>
  <% a.each do |t|%>
      <div class="card mx-auto" style="width: 18rem;"">
        <div class="card-body">
          <h5 class="card-title"><%=t.first_name%></h5>
          <% g = @gossips.where(user: t.id)%>
          <% g.each do |t| %>
          <p class="card-text"><%= t.content %></p>
          <% end %>
        </div>
      </div>
      <%end%>
  </div>
