<h1>Tu veux nous contacter pour une rencontre hot?</h1>
<p>Tu veux rencontrer Lucas? <br/>
Tape <%= link_to "Lucas", contact_lucas_path %> au 3615 </p>
<br/>
<p>Tu veux rencontrer Christophe?<br/>
Tape  <%= link_to "Christophe", contact_christophe_path %> au 3615</p>
